<div class="col-xs-6 col-md-6">
  <%= f.text_field :nombres, :placeholder => "Nombres" %>
</div>
<div class="col-xs-6 col-md-6">
  <%= f.text_field :apellidos, :placeholder => "Apellidos" %>
</div>


  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>