<div class="page-header">
  <h1>empresa_transporte</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @empresa_transporte.nombre %></dd>

  <dt>Localidad:</dt>
  <dd><%= @empresa_transporte.localidad_id %></dd>

  <br/><br/>
  <%= link_to empresa_transportes_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_empresa_transporte_path(@empresa_transporte), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to empresa_transporte_path(@empresa_transporte), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
