<div class="page-header">
  <h1>localidad</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @localidad.nombre %></dd>

  <dt>Region:</dt>
  <dd><%= @localidad.region_id %></dd>

  <dt>Cp:</dt>
  <dd><%= @localidad.cp %></dd>

  <br/><br/>
  <%= link_to localidads_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_localidad_path(@localidad), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to localidad_path(@localidad), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
