<%= form_for(@pepe, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @pepe.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @pepe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nro, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :nro, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :algo, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :algo, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :algo2, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :algo2, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">

      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to pepes_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>
