
<%= form_for(@persona, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @persona.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @tipo_roles = ["Alumno","Docente","Auxiliar de educación"] %>

  </br>
  <legend>Datos personales</legend>

  <div class="form-group">
    <%= f.label :nombres, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :nombres, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :apellidos, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :apellidos, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tipo_documento_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
    </div>
    <%= f.label :nro_documento, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :nro_documento, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :calle, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :calle, :class => "form-control" %>
    </div>
    <%= f.label :nro_calle, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :nro_calle, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :piso, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :piso, :class => "form-control" %>
    </div>
    <%= f.label :depto, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :depto, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :localidad_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :estado_civil_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:estado_civil_id, EstadoCivil.all, :id, :nombre) %>
    </div>
     <%= f.label :sexo_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:sexo_id, Sexo.all, :id, :nombre) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_nacimiento, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.datepicker :fecha_nacimiento, :id => "datepicker", :class => "form-control" %>
    </div>
    <%= f.label :telefono_contacto, "Teléfono de contacto", :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :telefono_contacto, :class => "form-control" %>
    </div>
  </div> 
  <div class="form-group">
    <%= f.label :email, "Correo electrónico", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>

  </br>   
  <legend>Datos establecimiento educativo</legend>

  <div class="form-group">
    <%= f.label "Establecimientos", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :establecimiento_tokens, "data-pre" => @persona.establecimientos.map(&:attributes).to_json, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group hidden">
    <%= f.label :tipo_gestion_id, "Tipo de gestión", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:tipo_gestion_id, TipoGestion.all, :id, :nombre) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :servicio_transporte, "Servicio de transporte que utiliza", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :servicio_transporte, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :rol, "Condición", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
       <select name="persona[rol]" id="persona_rol">
          <% @tipo_roles.each do |tp| %>
            <% if @persona.rol == tp %>
              <option selected="selected" value="<%=tp%>"><%=tp%></option>
            <% else %>
              <option value="<%=tp%>"><%=tp%></option>
            <% end %>
          <% end %>
        </select>
    </div>
  </div>

  <fieldset id="alumno">
    <legend>Alumno</legend>
    <div class="form-group">
      <%= f.label :grado_anio_alumno, "Grado/Año", :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :grado_anio_alumno, :id => "input_grado_anio_alumno", :class => "form-control" %>
      </div>
      <%= f.label :regular, "Marque si es alumno regular", :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.check_box :regular, :id => "check_alumno_regular" %>
      </div>
    </div>    
  </fieldset>

  <fieldset id="docente">
    <legend>Docente</legend>
    <div class="form-group">
      <%= f.label :activo_pasivo_docente, "Marque si es docente activo", :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.check_box :activo_pasivo_docente, :id => "check_activo_pasivo_docente" %>
      </div>
      <fieldset id="docente_activo">  
        <%= f.label :frente_alumnos, "Marque si cumple su función frente a grupo de alumnos", :class => "col-sm-4 control-label" %>
        <div class="col-sm-2">
          <%= f.check_box :frente_alumnos, :id => "check_frente_alumnos" %>
        </div>
      </fieldset>
    </div>
    <fieldset id="frente_alumno">
      <div class="form-group">
        <%= f.label :grado_docente, "Grado", :class => "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :grado_docente, :id => "input_grado_docente", :class => "form-control" %>
        </div>
        <%= f.label :turno_docente, "Turno", :class => "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :turno_docente, :id => "input_turno_docente", :class => "form-control" %>
        </div>
      </div>
    </fieldset>
  </fieldset>

  <fieldset id="aux">
    <legend>Auxiliar de educación</legend>
    <div class="form-group">
      <%= f.label :activo_pasivo_aux, "Marque si es auxiliar activo", :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.check_box :activo_pasivo_aux, :id => "check_activo_pasivo_aux" %>
      </div>
      <fieldset id="aux_activo">
        <%= f.label :lugar_auxiliares, "Lugar donde cumple su función", :class => "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :lugar_auxiliares, :id => "input_lugar_auxiliares", :class => "form-control" %>
        </div>
      </fieldset>
    </div>
  </fieldset>

  <fieldset id="cuadras">
    <legend>Distancia al establecimiento</legend>
    <div class="form-group">
      <%= f.label :cant_cuadras, "Cantidad de cuadras al establecimiento", :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :cant_cuadras, :id => "input_cant_cuadras", :class => "form-control" %>
      </div>
      <%= f.label :distancia_km, "Cantidad de kilómetros al establecimiento", :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :distancia_km, :id => "input_distancia_km", :class => "form-control" %>
      </div>
    </div>
  </fieldset>

  </br></br></br>
  <div class="form-group">
    <div class="text-center">
      <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
      <%= link_to personas_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Atrás
      <% end %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $( document ).ready(function() {
    $("#alumno").addClass('hidden');
    $("#docente").addClass('hidden');
    $("#aux").addClass('hidden');
    $("#regular").addClass('hidden');
    $("#docente_activo").addClass('hidden');
    $("#aux_activo").addClass('hidden');
    $("#frente_alumno").addClass('hidden');    
    $("#cuadras").addClass('hidden');

    // ToolTip
    $('#persona_calle').tooltip();

    
    //$( "#foo" ).trigger( "click" );

    $( "#persona_rol" ).change(function() {
      if ($( "#persona_rol option:selected" ).text() == "Alumno"){

      if ($("#check_alumno_regular").attr("checked") == "checked"){
        $("#cuadras").removeClass('hidden');
      } else {
        $("#cuadras").addClass('hidden');
      }


        //habilito todo lo de alumno
        $("#alumno").removeClass('hidden');

        //acá oculto todo lo de aux
        $("#aux").addClass('hidden');
        $("#aux_activo").addClass('hidden');
        //$("#input_cant_cuadras_aux").val(""); 
        //$("#input_distancia_km_aux").val("");
        $("#check_activo_pasivo_aux").prop("checked",false);
        $("#input_lugar_auxiliares").val("");

        //acá oculto todo lo de docente
        $("#docente").addClass('hidden');
        $("#docente_activo").addClass('hidden');
        $("#frente_alumno").addClass('hidden');

        $("#input_cant_cuadras").val(""); 
        $("#input_distancia_km").val("");
        $("#check_activo_pasivo_docente").prop("checked",false);
        $("#check_frente_alumnos").prop("checked",false);
        $("#input_grado_docente").val("");
        $("#input_turno_docente").val("");

      };
      if ($( "#persona_rol option:selected" ).text() == "Docente"){

        if ($("#check_activo_pasivo_docente").attr("checked") == "checked"){
          $("#docente_activo").removeClass('hidden');
        } else {
          $("#docente_activo").addClass('hidden');
        }

      
        if ($("#check_frente_alumnos").attr("checked") == "checked"){
          $("#frente_alumno").removeClass('hidden');
        } else {
          $("#frente_alumno").addClass('hidden');
        }
  

        //habilito todo lo de docente
        $("#docente").removeClass('hidden');
        $("#cuadras").removeClass('hidden');

        //acá oculto todo lo de alumno
        $("#alumno").addClass('hidden');        
        $("#regular").addClass('hidden');
        
        $("#input_grado_anio_alumno").val("");
        $("#check_alumno_regular").prop("checked",false);
        //$("#input_cant_cuadras").val(""); 
        //$("#input_distancia_km").val("");

        //acá oculto todo lo de aux
        $("#aux").addClass('hidden');
        $("#aux_activo").addClass('hidden');
        $("#input_cant_cuadras_aux").val(""); 
        $("#input_distancia_km_aux").val("");
        $("#check_activo_pasivo_aux").prop("checked",false);
        $("#input_lugar_auxiliares").val("");
               
        
      };
      if ($( "#persona_rol option:selected" ).text() == "Auxiliar de educación"){

      if ($("#check_activo_pasivo_aux").attr("checked") == "checked"){
        $("#aux_activo").removeClass('hidden');
      } else {
        $("#aux_activo").addClass('hidden');
      }


        //habilito todo lo de aux
        $("#aux").removeClass('hidden');
        $("#cuadras").removeClass('hidden');    
        
        //acá oculto todo lo de alumno
        $("#alumno").addClass('hidden');        
        $("#regular").addClass('hidden');
        
        $("#input_grado_anio_alumno").val("");
        $("#check_alumno_regular").prop("checked",false);
        //$("#input_cant_cuadras").val(""); 
        //$("#input_distancia_km").val("");

        //acá oculto todo lo de docente
        $("#docente").addClass('hidden');
        $("#docente_activo").addClass('hidden');
        $("#frente_alumno").addClass('hidden');

        $("#input_cant_cuadras").val(""); 
        $("#input_distancia_km").val("");
        $("#check_activo_pasivo_docente").prop("checked",false);
        $("#check_frente_alumnos").prop("checked",false);
        $("#input_grado_docente").val("");
        $("#input_turno_docente").val("");
      };
      if ($( "#persona_rol option:selected" ).text() == "Seleccione una función"){
        //acá oculto todo lo de aux
        $("#aux").addClass('hidden');
        $("#aux_activo").addClass('hidden');
        //$("#input_cant_cuadras_aux").val(""); 
        //$("#input_distancia_km_aux").val("");
        $("#check_activo_pasivo_aux").prop("checked",false);
        $("#input_lugar_auxiliares").val("");
        
        //acá oculto todo lo de alumno
        $("#alumno").addClass('hidden');        
        $("#regular").addClass('hidden');
        $("#cuadras").addClass('hidden');
        
        $("#input_grado_anio_alumno").val("");
        $("#check_alumno_regular").prop("checked",false);
        //$("#input_cant_cuadras").val(""); 
        //$("#input_distancia_km").val("");

        //acá oculto todo lo de docente
        $("#docente").addClass('hidden');
        $("#docente_activo").addClass('hidden');
        $("#frente_alumno").addClass('hidden');

        $("#input_cant_cuadras").val(""); 
        $("#input_distancia_km").val("");
        $("#check_activo_pasivo_docente").prop("checked",false);
        $("#check_frente_alumnos").prop("checked",false);
        $("#input_grado_docente").val("");
        $("#input_turno_docente").val("");
      };
    });

    $("#persona_rol").trigger("change");

    $("#check_alumno_regular").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#regular").removeClass('hidden');
        $("#cuadras").removeClass('hidden');
      } else {
        $("#regular").addClass('hidden');
        $("#cuadras").addClass('hidden');
      }
    });
    $("#check_activo_pasivo_docente").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#docente_activo").removeClass('hidden');
      } else {
        $("#docente_activo").addClass('hidden');
      }
    });
    $("#check_frente_alumnos").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#frente_alumno").removeClass('hidden');
      } else {
        $("#frente_alumno").addClass('hidden');
      }
    });
    $("#check_activo_pasivo_aux").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#aux_activo").removeClass('hidden');
      } else {
        $("#aux_activo").addClass('hidden');
      }
    });

  });
</script>

<% @listado_de_datepickers = ['datepicker', 'datepicker2'] %>

<% @listado_de_datepickers.each do |l| %>

    <script type="text/javascript">
        
          $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
          dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
          changeYear: true,
          yearRange: "1910:<%= Date.today.year + 10 %>", 
          monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          navigationAsDateFormat: true,
          nextText: "Sig", 
          prevText: "Ant", 
          showAnim: "explode"
            });

    </script>

<% end %>