<div class="page-header">
  <h1>Transporte Educativo Gratuito</h1>
</div>

<dl class="dl-horizontal">

  <legend>Datos personales</legend>

  <div class="row">
    <div class="col-md-3">
      <dt>Nombres:</dt>
      <dd><%= @persona.nombres %></dd>
    </div>
    <div class="col-md-3">
      <dt>Apellidos:</dt>
      <dd><%= @persona.apellidos %></dd>
    </div>
    <div class="col-md-3">
      <dt>Tipo documento:</dt>
      <dd><%= @persona.tipo_documento %></dd>
    </div>
    <div class="col-md-3">
      <dt>Nro documento:</dt>
      <dd><%= @persona.nro_documento %></dd>
    </div>  
  </div>
  
  <br/>
  
  <div class="row">
    <div class="col-md-3">
      <dt>Calle:</dt>
      <dd><%= @persona.calle %></dd>
    </div>
    <div class="col-md-3">
      <dt>Nro calle:</dt>
      <dd><%= @persona.nro_calle %></dd>
    </div>
    <div class="col-md-3">
      <dt>Piso:</dt>
      <dd><%= @persona.piso %></dd>
    </div>
    <div class="col-md-3">
      <dt>Depto:</dt>
      <dd><%= @persona.depto %></dd>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <dt>Localidad:</dt>
      <dd><%= @persona.localidad %></dd>
    </div>
    <div class="col-md-3">
      <dt>Estado civil:</dt>
      <dd><%= @persona.estado_civil %></dd>
    </div>
    <div class="col-md-3">
      <dt>Sexo:</dt>
      <dd><%= @persona.sexo %></dd>
    </div>
    <div class="col-md-3">
      <dt>Fecha nacimiento:</dt>
      <dd><%= Util.fecha_a_es(@persona.fecha_nacimiento) %></dd>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-3">
      <dt>Telefono contacto:</dt>
      <dd><%= @persona.telefono_contacto %></dd>
    </div>
    <div class="col-md-3">
      <dt>Email:</dt>
      <dd><%= @persona.email %></dd>
    </div>
  </div>

  <br/>

  <legend>Establecimientos y Transporte</legend>
  <div class="row">
    <div class="col-md-3">
      <dt>Establecimientos:</dt>
      <dd>
        <% @persona.establecimientos.each do |pe| %>
          <%= pe.codigo_jurisdiccional %> 
        <% end %>
      </dd>
    </div>
    <div class="col-md-3">
      <dt>Transporte:</dt>
      <dd><%= @persona.servicio_transporte %></dd>
    </div>
  </div>

  <br/>

  <% if @persona.rol == "Auxiliar de educación" then %>

    <legend>Auxiliar de educación</legend>
    <div class="row">
      <div class="col-md-3">
        <dt>Auxiliar Activo:</dt>
        <dd>
          <% if @persona.activo_pasivo_aux == true then %>
            Si
          <% else %>
            No
          <% end %>
        </dd>
      </div>
      <div class="col-md-3">
        <dt>Lugar de trabajo:</dt>
        <dd><%= @persona.lugar_auxiliares %></dd>
      </div>
    </div>

    <br/>

  <% end %>

  <% if @persona.rol == "Alumno" then %>

    <legend>Alumno</legend>
    <div class="row">
      <div class="col-md-3">
        <dt>Grado/año:</dt>
        <dd><%= @persona.grado_anio_alumno %></dd>
      </div>
      <div class="col-md-3">
        <dt>Alumno regular:</dt>
        <dd>
          <% if @persona.regular == true then %>
            Si
          <% else %>
            No
          <% end %>
        </dd>
      </div>
    </div>

    <br/>

  <% end %>

  <% if @persona.rol == "Docente" then %>

    <legend>Docente</legend>
    <div class="row">
      <div class="col-md-3">
        <dt>Docente activo:</dt>
        <dd>
          <% if @persona.activo_pasivo_docente == 1 then %>
            Si
          <% else %>
            No
          <% end %>
        </dd>
      </div>
      <div class="col-md-3">
        <dt>Frente a alumnos:</dt>
        <dd>
          <% if @persona.frente_alumnos == 1 then %>
            Si
          <% else %>
            No
          <% end %>
        </dd>
      </div>
      <div class="col-md-3">
        <dt>Grado:</dt>
        <dd>
          <% if @persona.grado_docente == 1 then %>
            Si
          <% else %>
            No
          <% end %>
        </dd>
      </div>
      <div class="col-md-3">
        <dt>Turno:</dt>
        <dd>
          <% if @persona.turno_docente == 1 then %>
            Si
          <% else %>
            No
          <% end %>
        </dd>
      </div>
    </div>

    <br/>

  <% end %>

  <legend>Distancia al establecimiento</legend>
  <div class="row">
    <div class="col-md-3">
      <dt>Cantidad de cuadras:</dt>
      <dd><%= @persona.cant_cuadras %></dd>
    </div>
    <div class="col-md-3">
      <dt>Distancia en km:</dt>
      <dd><%= @persona.distancia_km %></dd>
    </div>
  </div>

  <br/></br></br>


  
  <%= link_to personas_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_persona_path(@persona), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to persona_path(@persona), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>




