<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Transporte Educativo Gratuito</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "print", media: "print" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top hidden-print">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "TEG", pagina_inicio_index_path, :class => "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? then %>
            <% if (current_user.role? :user) || (current_user.role? :superadmin) then %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inscripciones <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Formulario Inscripción", new_persona_path,  :tabindex => "-1" %></li>
                </ul>
              </li>
            <% end %>
            <% if (current_user.role? :transporte) || (current_user.role? :admin) || (current_user.role? :sadmin) then %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if (current_user.role? :admin) || (current_user.role? :sadmin) then %>
                    <li><%= link_to "Emisión de bonos", new_bono_path, :tabindex => "-1" %></li>
                  <% end %>
                  <% if (current_user.role? :transporte) || (current_user.role? :sadmin) then %>
                    <li><%= link_to "Entregar de bonos", bonos_path, :tabindex => "-1" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% if (current_user.role? :sadmin) then %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Establecimientos", establecimientos_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Estados Civiles", estado_civils_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Localidades", localidads_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Niveles", nivels_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Personas", personas_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Regiones", regions_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Sexos", sexos_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Situaciones de Revista", situacion_revista_path,  :tabindex => "-1" %></li>
                  <li><%= link_to "Tipos de documentos", tipo_documentos_path,  :tabindex => "-1" %></li>
                </ul>
              </li>
            <% end %>
            <% if (current_user.role? :sadmin) then %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%=link_to "Usuarios", users_path, :tabindex => "-1"%></li>
                  <li><%=link_to "Roles", roles_path, :tabindex => "-1"%></li>
                </ul>
              </li>
            <% end %>            
          <% end %>
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido: <%= current_user.email %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%=link_to "Mi cuenta", edit_user_registration_path, :tabindex => "-1"%></li>
                <li><%=link_to "Mi perfil", :tabindex => "-1"%></li>
                <li class="divider"></li>
                <li><%= link_to 'Salir', destroy_user_session_path, :method => :delete, :tabindex => "-1" %></li>        
              </ul>
            <% else %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">No ha iniciado sesión<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Iniciar Sesión", new_user_session_path , :tabindex => "-1" %></li> 
                <li class="divider"></li>
                <li><%= link_to "Registrarse", new_user_registration_path, :tabindex => "-1"%></li> 
              </ul>        
            <% end %>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="container">
  <p align="center"><%=link_to image_tag("logo.png")%></p>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
  <div class="container">
    <div class="row footer text-center">
      <hr/>
      <p>&copy; <em> Sistema desarrollado por PREGASE - Ministerio de Educación de la Provincia del Chubut</em></p>
      <address>
        <a href="mailto:pregase.chubut@gmail.com">pregase.chubut@gmail.com</a>
      </address>
    </div>
  </div>
</body>

</html>


<style type="text/css">
  body { padding-top: 60px; }
</style>
